
  
  /* html {
    scroll-snap-type: y mandatory;
  } */

  
/* 
  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: start;
    perspective: 500px;
  } */
/*   
  section > div {
    width: 800px;
    height: 400px;
    position: relative;
    max-height: 90vh;
    margin: 20px;
    background: var(--white);
    overflow: hidden;
  }
  
  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  
  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: red;
    bottom: 100px;
  }
   */